<div class="nav-container">
  <a href="/">Home</a>
  <% if(user) { %>
    <a href="/recipes">My Recipes</a>
    <a href="/recipes/new">Create Recipe</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } %>
  <% if(!user) { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
  <% } %>
</div>