<div class="nav-container">
  <a href="/">Home</a>
  <% if(user) { %>
    <a href="/recipes">Recipes</a>
    <a href="/recipes/new">New Recipe</a>
    <a href="/ingredients">Ingredients</a>
    <a href="/ingredients/new">New Ingredient</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } %>
  <% if(!user) { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
  <% } %>
</div>