<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/general.css">
  <title>All Ingredients</title>
</head>
<body>
  <h1>All Ingredients</h1>
  <%- include('../partials/_navbar.ejs') %>
  <% if(ingredients.length > 0){ %>
    <% for(let i of ingredients) { %>
      <a href="/ingredients/<%= i._id %>"><h2><%= i.name %></h2></a>
    <% } %>
  <% } else { %>
    <h2>You don't have any ingredients yet. Go <a href="/ingredients/new">create</a> some!</h2>
  <% } %>
</body>
</html>