<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/general.css">
  <title>Name Taken</title>
</head>
<body>
  <h1>Name Taken!</h1>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Name already exists: <%=name%></h1>
</body>
</html>