/* ===== Elements ===== */
body {
  background-color: rgba(240,240,240,1);
}

h1 {
  display: flex;
  justify-content: center;
}

form button {
  min-width: 80px;
  width: 10vw;
  max-width: 120px;
  border-radius: 5px;
  margin: 10px;
}

button:hover {
  background-color: rgba(0,0,0,5%);
}

label {
  margin-top: 10px;
}

form {
  justify-self: center;
  align-self: center;
  min-width: 50vw;
  justify-content: center;
}

/* ===== Classes ===== */
.form-type1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
}

.form-type1 textarea {
  min-height: 100px;
  min-width: 100px;
  max-width: 70vw;
}

.input-ingredients {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 50vw;
  gap: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.ingredients-select {
  max-height: 100px;
  overflow-y: scroll;
  background-color: white;
}

.center-items {
  align-items: center;
}
